<%- include ('./partials/header') %>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>
  <div id="landing-header" class="container text-center">
    <h1 class="my-3">BunnyGround</h1>
    <a href="/bunnies" class="btn btn-success">See All The Bunnies</a>
  </div>

<%- include ('./partials/footer') %>