<%- include('./partials/header') %>

<div class="container form-container mb-8vh">
  <form action="/login" method="POST">
    <h1 class="text-center mb-3">Log In</h1>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
  </form>
</div>

<%- include('./partials/footer') %>