<%- include ('./partials/header') %>
  <div class="container form-container mt-15vh">
    <form action="/register" method="POST">
      <h1 class="text-center mb-4">Sign Up For BunnyGround</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="user[username]" placeholder="Please enter your email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="user[password]" placeholder="Please enter your password">
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
    </form>
  </div>
<%- include ('./partials/footer') %>