body {
  background-image: url('../images/bunnyBackground.jpg');
  background-size: cover;
  background-position: 50% 30%;
}

#landing-header {
  z-index: 1;
  position: relative;
  padding-top: 37vh
}

#landing-header h1 {
  color: #ffffff;
}