/* body {
  background-color: pink;
} */

.blue {
  color: steelblue;
}

.mt-13vh {
  margin-top: 13vh!important;
}

.mb-8vh {
  margin-bottom: 8vh!important;
}

.to-right {
  position: absolute;
  right: 8px;
}

.card {
  margin-bottom: 2rem;
}

.index-card > img {
  height: 35vh;
  object-fit: cover;
}

.show-card > img {
  margin-top: 7vh;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
}

.post-card img {
  height: 35vh;
  object-fit: cover;
}

.post-show-card img {
  height: 20rem;
  object-fit: cover;
}

.form-container {
  width: 40%;
  /* margin-top: 10vh; */
}

.fa-venus {
  color: pink;
  font-size: 1.25rem;
}

.fa-mars {
  color: lightblue;
  font-size: 1.25rem;
}

.btn-warning {
  color: white;
}

.btn-warning:hover {
  color: white;
}

.delete-form {
  display: inline;
}

.comment-card-header {
  font-weight: bold;
}

#navbar-container {
  position: relative;
}