/* body {
  background-color: pink;
} */

.to-right {
  position: absolute;
  right: 8px;
}

.card {
  margin-bottom: 2rem;
}

.card img {
  height: 35vh;
  object-fit: cover;
}

.form-container {
  width: 40%;
  margin-top: 10vh;
}

#navbar-container {
  position: relative;
}