<%- include ('../partials/header') %>
  <div class="container form-container mb-8vh">
    <form action="/bunnies/<%= bunnyID %>/posts" method="POST">
      <h1 class="text-center mb-3">Create a New Post</h1>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="post[title]">
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="text" class="form-control" id="image" name="post[image]" placeholder="ImageURL">
      </div>
      <div class="form-group">
        <label for="text">Text</label>
        <textarea class="form-control" id="text" rows="5" name="post[text]"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
    </form>
  </div>
<%- include ('../partials/footer') %>